COMP1204/lab6/part4.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Pizza">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Base" type="xs:string"/>
                <xs:element name="Cheese" type="xs:string"/>
                <xs:element name="Toppings">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Topping" type="xs:string" minOccurs="0" maxOccurs="9"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>